body {
	font-family: sans-serif;
	background-color:#336699;
	margin-top:0;
}
#time, #flatdistance, #hilldistance, #speed, #avpace, #error, #settingstitle {
	font-weight:bold;
	font-size:150%;
}
h1 {
	font-size:100%; display:none;
}
p, h1 {
	border:0.1em solid #336699;
	background-color:#FFF;
	border-radius:0.6em;
	padding:0.3em 0.2em;
	margin:0;
	text-align:center;
}
button {
	margin:0.2em;
	font-weight:bold;
	font-size:120%;
}
#recordbutton {
	background-color:#0f0;
}
#stopbutton {
	background-color:#f00;
}
#settingsbutton {
	background-color:#fc0;
}
#exportbutton {
	background-color:#39f;
}
#settingssavebutton {
	background-color:#0f0;
}
#settingscancelbutton {
	background-color:#f00;
}
.hidden {
	display:none;
}
#gpxrecorder {
	width:90%;
}
textarea {
	width:100%;
}
img {
	border:1px solid #000;
	margin:0.1em;
}
#updateholder {
	color:#f00;
}
.details span {
	font-size:70%;
}
#topbar {
	font-size:100%;
	text-align:right;
	padding:0.2em 0;
	background-color:#336699;
	white-space:nowrap;
	z-index:75;
}
#topbar ul {
	display:inline;
	list-style-type:none;
	padding:0;
	margin:0;
}
#topbar li {
	display:inline;
	border-left:1px solid #fff;
	padding:0 1em;
}
#topbar a {
	color:#fff;
}
@media handheld, only screen and (max-device-width:480px) {
	#topbar {
		text-align:center;white-space:normal;
	}
	#topbar li{
		padding:0 0.5em;border:0;
	}
}

